<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <%- include('header', {links: links}) %>
        <form method="POST" action="/new">
            <label>
                User
                <input type="text" name="user">
            </label>
            <br />
            <label>
                Message
                <input type="text" name="text">
            </label>
            <br />
            <button>Submit</button>
        </form>
    </body>
</html>