<form method="POST" action="/new">
    <label>
        User
        <input type="text" name="user">
    </label>
    <br />
    <label>
        Message
        <input type="text" name="text">
    </label>
    <br />
    <button>Submit</button>
</form>