<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <section class="messageBoard">
            <% messages.forEach(message => { %>
                <div>
                    <%= message.user %>
                    <br />
                    <%= message.text %>
                </div>
                <br />
            <% }) %>
        </section>
    </body>
</html>