<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <section class="messageBoard">
            <% messages.forEach(message => { %>
                <div>
                    User: <%= message.user %> <%= message.date %> 
                    <br />
                    <%= message.text %>
                </div>
                <br />
            <% }) %>
        </section>
    </body>
</html>