<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <section class="messageBoard">
            <% messages.forEach(message => { %>
                <div>
                    <%= message.user %> @
                    <%= new Intl.DateTimeFormat('en-US', { dateStyle: 'short', timeStyle: 'short' }).format(message.added) %> 
                    <br />
                    <%= message.text %>
                </div>
                <br />
            <% }) %>
        </section>
    </body>
</html>