body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(217, 239, 250);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    width: 360px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.messageBoard {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    gap: 10px;
    background-color: LightSkyBlue;
    padding: 20px 10px 20px;
    box-sizing: border-box;
    overflow-y: scroll;
    height: 100%;
}

.message {
    margin: 0 10px 0;
    display: flex;
    align-items: flex-end;
}

.message .profile {
    background-color: rgb(90, 49, 255);
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    font-size: 20px;
    margin: 0 10px 23px 0;
}

.message .user {
    color: black;
    font-size: 16px;
}

.message .body {
    font-size: 16px;
    padding: 12px;
    border-radius: 20px 20px 20px 2px;
    background-color: white;
    width: fit-content;
    margin-top: 6px;
}

.message .details {
    font-size: 12px;
    margin-top: 2px;
    color: RoyalBlue;
}

.message .details a {
    font-weight: bold;
    color: RoyalBlue;
}

.messageBoardHeader {
    background-color: white;
    border-radius: 20px 20px 0 0;
    display: flex;
    padding: 0 14px 0;
    align-items: center;
    gap: 10px;
}

.messageBoardHeader h1 {
    font-size: 16px;
    font-weight: 400;
    flex: 1;
}

.messageBoardHeader button {
    font-size: 16px;
    border: none;
    border-radius: 20px;
    height: 40px;
    padding: 10px;
    display: flex;
    gap: 6px;
    align-items: center;
    margin: 10px 0 10px;
}

.messageBoardHeader button {
    cursor: pointer;
}

.messageBoardHeader .icon {
    background-color: blueviolet;
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.messageBoardFooter {
    background-color: white;
    border-radius: 0 0 20px 20px;
    display: flex;
    padding: 10px;
    gap: 10px;
}

.messageBoardFooter input, dialog input {
    height: 40px;
    flex: 1;
    border-radius: 20px;
    padding-left: 20px;
    border: none;
    background-color: rgb(235, 249, 255);
    font-size: 16px;
}

.messageBoardFooter button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    padding: 4px;
    border: none;
    color: white;
    background-color: blueviolet;
}

.messageBoardFooter button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltiptext {
  visibility: hidden; 
  width: 130px;
  background-color: rgb(64, 27, 176);
  color: #ffffff;
  text-align: center;
  padding: 8px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  font-size: 12px;
  margin-left: 4px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

dialog form {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    border-radius: 20px;
}

dialog {
    width: 280px;
    height: 200px;
    border-radius: 20px;
    border: none;
    overflow-y: hidden;
}

dialog label {
    margin-top: 30px;
    font-size: 16px;
}

dialog input {
    padding: 10px 10px 10px 20px;
    width: 100%;
}

#submitDialog {
    height: 40px;
    width: 100%;
    border: none;
    color: white;
    background-color: blueviolet;
    border-radius: 50px;
    font-size: 16px;
}

#submitDialog:hover {
    cursor: pointer;
}

#closeDialog:hover {
    cursor: pointer;
    background-color: aliceblue;
}

#closeDialog {
    position: absolute;
    right: -8px;
    top: -8px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    height: 30px;
    width: 30px;
    background-color: white;
}