body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(203, 238, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.board {
    width: 360px;
    height: 85%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.messageBoard {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    gap: 10px;
    background-color: rgb(129, 213, 255);
    padding: 100px 10px 80px;
    box-sizing: border-box;
    overflow-y: scroll;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.message {
    margin: 0 10px 0;
    display: flex;
    align-items: flex-end;
}

.message .profile {
    background-color: rgb(90, 49, 255);
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    font-size: 20px;
    margin: 0 10px 20px 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}

.message .user {
    color: black;
    font-size: 16px;
}

.message .body {
    font-size: 16px;
    padding: 12px;
    border-radius: 20px 20px 20px 2px;
    background-color: white;
    margin-top: 6px;
    max-width: 240px;
    width: max-content;
    word-wrap: break-word;
}

.message .details {
    font-size: 12px;
    margin-top: 2px;
    color: RoyalBlue;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}

.message .details a {
    font-weight: bold;
    color: RoyalBlue;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}

.messageBoardHeader {
    background-color: white;
    border-radius: 20px 20px 0 0;
    display: flex;
    padding: 0 14px 0;
    align-items: center;
    gap: 10px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(255, 255, 255, 0.17);
}

.messageBoardHeader h1 {
    font-size: 30px;
    flex: 1;
    margin-left: 10px;
    color: rgba(19, 106, 255, 0.8);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}

.messageBoardHeader h1:hover {
    color: rgba(0, 85, 255, 1);
}

.messageBoardHeader button {
    font-size: 16px;
    border: none;
    border-radius: 30px;
    height: 50px;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 10px 0 10px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.17);
    transition: all 0.2s ease;
}

.messageBoardHeader button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.6);
}

.messageBoardHeader .icon {
    background-color: blueviolet;
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.messageBoardFooter {
    background-color: white;
    border-radius: 0 0 20px 20px;
    display: flex;
    padding: 10px;
    gap: 10px;
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(255, 255, 255, 0.17);
}

.messageBoardFooter input, dialog input {
    height: 40px;
    flex: 1;
    border-radius: 20px;
    padding-left: 20px;
    border: none;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

.messageBoardFooter input:focus, dialog input:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
}

.messageBoardFooter input:hover, dialog input:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.messageBoardFooter button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    padding: 4px;
    border: none;
    color: white;
    background-color: rgba(19, 106, 255, 0.8);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
    font-size: 20px;
    border: 1px solid rgba(255, 255, 255, 0.17);
}

.messageBoardFooter button:hover {
    cursor: pointer;
    background-color: rgba(0, 85, 255, 1);
}

a {
    text-decoration: none;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltiptext {
  visibility: hidden; 
  width: 130px;
  background-color: RoyalBlue;
  color: #ffffff;
  text-align: center;
  padding: 8px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  font-size: 12px;
  margin-left: 4px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

dialog form {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

dialog {
    width: 280px;
    height: 200px;
    border-radius: 20px;
    border: none;
    overflow-y: hidden;
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.17);
}

dialog label {
    margin-top: 30px;
    font-size: 16px;
}

dialog input {
    padding: 10px 10px 10px 20px;
    width: 100%;
}

#submitDialog {
    height: 40px;
    width: 100%;
    border: none;
    color: white;
    border-radius: 50px;
    font-size: 16px;
    background-color: rgba(19, 106, 255, 0.8);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
    border: 1px solid rgba(255, 255, 255, 0.17);
}

#submitDialog:hover {
    cursor: pointer;
    background-color: rgba(0, 85, 255, 1);
}

#submitDialog:hover {
    cursor: pointer;
}

#closeDialog {
    position: absolute;
    right: -8px;
    top: -8px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    height: 30px;
    width: 30px;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.2s ease;
}

#closeDialog:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}